<!DOCTYPE html>
<html lang="en">
<title>Connexus</title>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body class="" id="top">
<!--==============================
              header
=================================-->
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1 class="logo">
        <a href="/">
          CONNEX.us
          <span>Share the world!</span>
        </a>
      </h1>
    </div>
    <div class="clear"></div>
  </div>
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container_12">
        <div class="grid_12">
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li><a href="/manage">Manage</a></li>
               <li><a href="/createstream">Create</a></li>
               <li><a href="/view">View</a></li>
               <li><a href="/search">Search</a></li>
               <li class="current"><a href="/Trending">Trending</a></li>
               <li><a href="/social">Social</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
         <div class="clear"></div>
     </div>
     <div class="clear"></div>
    </div>
  </section>
</header>
</body>

<!--------------------------------search--------------------------->
<body><center>
    <form action="/search?search={{ search }}" method="get">
        <div><input id="searchnames" type="text" name="searchfield" style="width:500px" value=""></div>
        <table id= "sug" bgcolor="#FFFFFF" style="width:500px;border:1;text-align: left;">
            <tbody style="color:black;font-family:'Arial';font-size: small" ></tbody>
        </table>
        <div><input id="search" type="submit" value="Search"></div>
    </form>
</center></body>

    <br><hr><br>
<body>
<center>
<table class="tblX" id="streams" style="color:white;border:0">
    <tr>
        {% for stream in streams %}
            <td style="border:0">&nbsp&nbsp&nbsp&nbsp<a href ="/singlestream?stream_name={{stream.stream_id}}" ><img src="{{stream.cover_url}}" width="200" height="200"></a>&nbsp&nbsp&nbsp&nbsp</td>
        {% endfor %}
        <td class="col2" style="padding-left:30px;color:white">
        <form action="/radio" method="post">
        <input id="report1" type="radio" name="freq" value="0">No reports<br>
        <input id="report2" type="radio" name="freq" value="5">Every 5 minutes<br>
        <input id="report3" type="radio" name="freq" value="60">Every 1 hour<br>
        <input id="report4" type="radio" name="freq" value="1440">Every day<br>
        <p>
          <input id="report" type="submit" value="Update Rate">
        </p>
      </form>
    </td>
    </tr>
    <tr>
        {% for stream in streams %}
            <td style="border:0"><div style="color:white">{{stream.stream_id}}</div></td>
        {% endfor %}
    </tr>
    <tr>
        {% for stream in streams %}
            <td style="border:0"><div style="color:white">{{stream.view_in_hour}} views</div></td>
        {% endfor %}
    </tr>
    <tr>
        {% for stream in streams %}
            <td style="border:0"><div style="color:white">in past hour</div></td>
        {% endfor %}
    </tr>
</table>
    <br><br><br><a style="color:blue" href="{{ url|safe }}">{{ url_linktext }}</a>
</center>>
</body>

<script>
    var stname = '{{streamnames}}';
    stname.toString();
    var st1=stname.split('[').join("");
    var st2=st1.split(']').join("");
    var st3=st2.replace(/&#34;/g, "");
    var streamname=st3.split(',');
    var text;
    var i;
     var ent;
    var patt;
    $("#searchnames").keyup(function(){
        $("#sug > tbody").empty();
        text="";
        ent = $("#searchnames").val();
        patt=new RegExp(ent,"i");
        if (ent != ""){
            for(i=0;i < streamname.length;i++){
                if(streamname[i].search(patt) != -1){
                    $("#sug > tbody").append("<tr><td>"+streamname[i].trim()+"</td></tr>");
                }
            }
        }
        $("#sug").find("td").css("text-align","left");
        $("#sug").find("td").on({
        mouseenter: function(){
            $(this).css("background-color", "lightgray");
        },
        mouseleave: function(){
            $(this).css("background-color", "white");
        },
        click: function(){
            window.location.href="/search?searchfield="+$(this).html();
        }
    });
    });

        $("#report").click(function(){
        toastr.info('Mail Report Change Success!')
    });
  </script>

</html>

